* {
    margin: 0;
    padding: 0;

}

#fotodonoempresa {
    display: flex;
}

#fotodonoempresa>p {
    padding: 25px;
}

.img-responsive {
    height: 150px;
    width: 150px;
}

.card-img-top {
    height: 4.7rem;
    width: 4.7rem;
}

.d-block w-100 {
    width: 500px;
    height: 150px;
}